@import url("https://raw.githack.com/CorbsEditor/Dream-Frame/master/others/ProfileBackgrounds.css");
@import url("https://raw.githack.com/CorbsEditor/Dream-Frame/master/others/Donator.css")
@import url("https://raw.githack.com/CorbsEditor/Dream-Frame/master/others/Fallback.theme.css");
/* - */
/* Animation */
/* - */
/* Background Boot Up BBU */
@keyframes bbu {
  0% {
    background-image: var(--custombackground);
    opacity: 0.1;
    filter: blur(10px);
    background-repeat: var(--bgrepeat);
    transform: scale(3) rotate(-10deg);
    background-size: cover;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  100% {
    background-image: var(--custombackground);
    opacity: var(--opacitybg);
    filter: blur(var(--blur));
    background-repeat: var(--bgrepeat);
    transform: scale(var(--bgscale)) rotate(var(--bgrotation));
    background-size: cover;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
}
/* - - - Custom Options - - - */
/* Background*/
body {
  background: transparent !important;
}
.appMount-3lHmkl {
    background: rgba(0, 0, 0, var(--opacityDiscord)) !important;
    border-radius: var(--appbr) !important;
}
.appMount-3lHmkl::before {
    content: "";
    background-image: var(--custombackground);
    opacity: var(--opacitybg);
    filter: blur(var(--blur));
    background-repeat: var(--bgrepeat);
    transform: scale(var(--bgscale)) rotate(var(--bgrotation));
    background-size: cover;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    animation: 5s bbu ease-in-out;
}
.backdrop-1wrmKB {
  background-image: var(--custombackground);
  opacity: var(--opacityDiscord) !important;
  filter: blur(var(--blur)) brightness(var(--opacitybg));
  background-repeat: var(--bgrepeat);
  transform: scale(var(--bgscale)) rotate(var(--bgrotation));
  background-size: cover;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
/* Border Radius */
.member-3W1lQa {
  border-radius: var(--memberslistbr);
}
.guild-1EfMGQ .guildIcon-CT-ZDq {
    border-radius: var(--servericonbr);
}
a.inner-1V3pNb.pc-inner.inner-1W0Bkn.pc-inner.stop-animation {
    border-radius: var(--servericonbr);
}
a.inner-1V3pNb.da-inner.inner-1W0Bkn.da-inner.stop-animation {
    border-radius: var(--servericonbr);
}
.guild-1EfMGQ .avatar-S_nsxk .inner-1V3pNb {
    border-radius: var(--servericonbr);
}
.image-33JSyf, .wrapper-2F3Zv8 { /* Make sure to add Fallback */
    border-radius: var(--avatarbr);
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
    border-radius: var(--buttonsbr);
}
.lookInverted-2D7oAl.colorBrand-3pXr91 {
  border-radius: var(--buttonsbr);
}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    border-radius: var(--buttonsbr);
}
button.primaryButton-2BsGPp.da-primaryButton.gutter-15v0rO.da-gutter.button-38aScr.da-button.lookFilled-1Gx00P.colorBrand-3pXr91.sizeXlarge-2yFAlZ.grow-q77ONN.da-grow {
    border-radius: var(--buttonsbr);
}
button.secondaryButton-BIo-2g.da-secondaryButton.button-38aScr.da-button.lookFilled-1Gx00P.colorPrimary-3b3xI6.sizeXlarge-2yFAlZ.grow-q77ONN.da-grow {
  border-radius: var(--buttonsbr);
}
.theme-dark .cardPrimaryEditable-3KtE4g {
    border-radius: var(--buttonsbr);
}
button.button-38aScr.da-button.lookFilled-1Gx00P.colorBrand-3pXr91.sizeMedium-1AC_Sl.grow-q77ONN.da-grow {
  border-radius: var(--buttonsbr);
}
button.button-38aScr.da-button.lookFilled-1Gx00P.colorPrimary-3b3xI6.sizeSmall-2cSMqn.grow-q77ONN.da-grow {
  border-radius: var(--buttonsbr);
}
button.subscribeButton-2h8nOh.da-subscribeButton.button-38aScr.da-button.lookFilled-1Gx00P.colorPrimary-3b3xI6.sizeLarge-1vSeWK.grow-q77ONN.da-grow {
  border-radius: var(--buttonsbr);
}
button.button-38aScr.da-button.lookFilled-1Gx00P.colorBrand-3pXr91.sizeSmall-2cSMqn.grow-q77ONN.da-grow {
    border-radius: var(--buttonsbr);
}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    border-radius: var(--buttonsbr);
}
.members-1998pB .content-OzHfo4 .status-2s6iDp, .container-2Thooq .status-2kJpnA, .members-1998pB .member-3W1lQa.popout-open .status-2s6iDp, .private-channels .status, .channel-2QD9_O .status-1ibiUI {
    border-radius: var(--avatarbr);
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    border-radius: 5px;
}
/* Accent */
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: var(--accentcolor);
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: var(--accentcolor);
    color: var(--accenttext);
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: var(--accentcolor);
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: var(--accentcolor);
    color: var(--accenttext);
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: var(--accentcolor);
    color: var(--accenttext);
}
/* Fonts */

/* Scrollbar */
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: var(--colorbar);
}
.scroller-2FKFPG::-webkit-scrollbar {
    width: var(--widthbar);
}
/* Server Icon Size */
.guild-1EfMGQ .guildInner-3DSoA4 {
   transform: scale(var(--servericonsize));
}
/* Status Colors */
.statusOffline-37RKt7  {
    background-color: var(--offline);
}
.statusOnline-8PnF5L {
    background-color: var(--online);
}
/* Round Statuses */
.statusProfile-3ynqtt.status-oxiHuE {
    width:96% !important;
    height: 96%;
    right:-2px !important;
    bottom:-2px;
    padding:2px;
    border-width: 2px !important;
    margin: 0;
}
.listRow-hutiT_ .status-oxiHuE,.card-7JP0BX .status-oxiHuE {
     width:91% !important;
     height: 91%;
     border-radius: 50%;
     right: -2px !important;
     bottom:-2px;padding:2px;
     border-width: 2px !important;
     margin: 0;
}
.autocompleteRow-2OthDa .status-oxiHuE{
    width:82% !important;
    height: 82%;
    border-radius: 50%;
    right: -2px !important;
    bottom: -2px;padding: 2px;
    border-width: 2px !important;
}
.members-1998pB .content-OzHfo4 .status-2s6iDp,.container-2Thooq .status-2kJpnA, .members-1998pB .member-3W1lQa.popout-open .status-2s6iDp,.private-channels .status, .channel-2QD9_O .status-1ibiUI {
    border-radius: 50%;
    background-color: transparent;
    background-clip: padding-box;
    bottom: -1px;
    right: -1px;
    height: 28px !important;
    width: 28px !important;
    pointer-events: none;
    border-color: transparent;
}
.maskProfile-1ObLFT,.mask-3OgeRz {
    -webkit-mask: none;
    mask: none;
}
.status-oxiHuE,.statusProfile-3ynqtt.status-oxiHuE {
    border-radius:50% !important;
    box-shadow:none;-webkit-box-shadow:none;
}
.online-2S838R.status-oxiHuE.small-5Os1Bb.status-2zcSVk.status-1ibiUI, .online-2S838R.status-oxiHuE.pc-online.pc-status.small-5Os1Bb.pc-small.status-2zcSVk.pc-status.status-1ibiUI.pc-status, .autocompleteRow-2OthDa .online-2S838R,.listRow-hutiT_ .online-2S838R,.card-7JP0BX .online-2S838R,.statusProfile-3ynqtt.online-2S838R,.private-channels .online-2S838R, .container-2Thooq .online-2S838R,.members-1998pB .content-OzHfo4 .online-2S838R {
    background-color: transparent;
    border:2px solid var(--online) !important;
}
.streaming-2_dnHe.status-oxiHuE.pc-streaming.pc-status.small-5Os1Bb.pc-small.status-2zcSVk.pc-status.status-1ibiUI.pc-status, .autocompleteRow-2OthDa .streaming-2_dnHe,.listRow-hutiT_ .streaming-2_dnHe,.card-7JP0BX .streaming-2_dnHe,.statusProfile-3ynqtt.streaming-2_dnHe,.private-channels .streaming-2_dnHe,.container-2Thooq .streaming-2_dnHe,.members-1998pB .content-OzHfo4 .streaming-2_dnHe {
    background-color: transparent;
    border: 2px solid var(--streaming) !important;
}
.dnd-1_xrcq.status-oxiHuE.small-5Os1Bb.status-2zcSVk.status-1ibiUI, .autocompleteRow-2OthDa .dnd-1_xrcq,.listRow-hutiT_ .dnd-1_xrcq,.card-7JP0BX .dnd-1_xrcq,.statusProfile-3ynqtt.dnd-1_xrcq,.private-channels .dnd-1_xrcq,.container-2Thooq .dnd-1_xrcq,.members-1998pB .content-OzHfo4 .dnd-1_xrcq, .dnd-1_xrcq.status-oxiHuE.pc-dnd.pc-status.small-5Os1Bb.pc-small.status-2zcSVk.pc-status.status-1ibiUI.pc-status {
    background-color: transparent;
    border:2px solid var(--dnd) !important;
}
.idle-3DEnRT.status-oxiHuE.small-5Os1Bb.status-2zcSVk.status-1ibiUI, .idle-3DEnRT.status-oxiHuE.pc-idle.pc-status.small-5Os1Bb.pc-small.status-2zcSVk.pc-status.status-1ibiUI.pc-status, .autocompleteRow-2OthDa .idle-3DEnRT,.listRow-hutiT_ .idle-3DEnRT,.card-7JP0BX .idle-3DEnRT,.statusProfile-3ynqtt.idle-3DEnRT,.private-channels .idle-3DEnRT,.container-2Thooq .idle-3DEnRT,.members-1998pB .content-OzHfo4 .idle-3DEnRT {
    background-color: transparent;
    border:2px solid var(--idle) !important;
}
.offline-3qoTek.status-oxiHuE.small-5Os1Bb.status-2zcSVk.status-1ibiUI, .offline-3qoTek.status-oxiHuE.pc-offline.pc-status.small-5Os1Bb.pc-small.status-2zcSVk.pc-status.status-1ibiUI.pc-status, .autocompleteRow-2OthDa .invisible-1kp8Z0,.listRow-hutiT_ .invisible-1kp8Z0,.card-7JP0BX .invisible-1kp8Z0,.statusProfile-3ynqtt.invisible-1kp8Z0,.private-channels .invisible-1kp8Z0,.container-2Thooq .invisible-1kp8Z0,.members-1998pB .content-OzHfo4 .invisible-1kp8Z0{
    background-color: transparent;
    border:2px solid var(--offline) !important;
}
.autocompleteRow-2OthDa .offline-3qoTek,.listRow-hutiT_ .offline-3qoTek,.card-7JP0BX .offline-3qoTek,.statusProfile-3ynqtt.offline-3qoTek,.private-channels .offline-3qoTek,.container-2Thooq .offline-3qoTek,.members-1998pB .content-OzHfo4 .offline-3qoTek {
    background-color: transparent;
    border:2px solid var(--offline) !important;
}
.status-oxiHuE.small-5Os1Bb.typing-1KJk_j.status-2s6iDp,.status-oxiHuE.small-5Os1Bb.typing-1KJk_j.status {
    left:-1px !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
    right: -0.5px !important;
}
.members-1998pB .content-OzHfo4 .status-2s6iDp, .container-2Thooq .status-2kJpnA, .members-1998pB .member-3W1lQa.popout-open .status-2s6iDp, .private-channels .status, .channel-2QD9_O .status-1ibiUI {
    right: -1px !important;
}
/* Server Colors */
.theme-dark .guild-1EfMGQ.selected-ML3OIq:before {
  background: var(--serverselected);
}
.theme-dark .guild-1EfMGQ.unread-qLkInr:before {
    background: var(--serverunread);
}
/* Avatar Sizes */
.image-33JSyf.large-3ChYtB {
    height: var(--avatar);
    width: var(--avatar);
}
/* Emoji Sizes */
.emoji.jumboable {
    height: var(--emojisize);
    width: var(--emojisize);
}
/* Emoji Menu Height */
.emojiPicker-3m1S-j .scroller-3vODG7 {
    height: var(--emojimenuheight);
}
/* Windows Titlebar Icons */
.titleBar-AC4pGV div:nth-of-type(2) {
  background-image: var(--closeButton);
}
.titleBar-AC4pGV div:nth-of-type(3) {
  background-image: var(--maxButton);
}
.titleBar-AC4pGV div:nth-of-type(4) {
  background-image: var(--minButton);
}
.titleBar-AC4pGV .winButton-iRh8-Z { /* adjust size and position */
  background-color: transparent;
  background-size: var(--sizeOfButtons);
  background-position: center;
  background-repeat: no-repeat;
  opacity: .6;
  filter: 0%;
}
.winButton-iRh8-Z svg { /* To hide default titlebar icons */
    opacity: var(--defaulttb);
}
/* macOS Titlebar Icon Colors */
.macButtonMaximize-2FMHAO {
    background-color: var(--macOSMax);
}
.macButtonMinimize-3EJ6wo {
  background-color: var(--macOSMin);
}
.macButtonClose-MwZ2nf {
  background-color: var(--macOSClose);
}
/* - */
/* Changelog */
/* - */
.feedCarousel-3F1_Q-.carousel-1Mb2Ud::before {
    content: "";
    background-image: url(https://raw.githubusercontent.com/CorbsEditor/Dream-Frame/master/resources/changelog.png);
    position: absolute;
    width: 100%;
    height: 650px;
    background-size: 1270px;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 0px;
    top: 675px;
}
.feedCarousel-3F1_Q- {
    margin-bottom: 579px;
}
/* - */
/* Loading Screen */
/* - */
body {
    content: "Discord";
    background-color: black;
}
.container-16j22k {
    background-color: rgba(0, 0, 0, 0.75);
}
.content-1-zrf2.pc-content {
    opacity: 0;
}

/* - */
/* App */
/* - */
/* Titlebar(Windows) */
.wordmark-2iDDfm {
    opacity: 0;
}

/* Titlebar(macOS) */

/* Backgrounds */
.theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ, .container-2lgZY8, .theme-dark .guildsWrapper-5TJh6A, .channels-Ie2l6A, .theme-dark .container-2Thooq, .theme-light .container-2Thooq, .theme-dark .activityFeed-28jde9, .theme-dark .headerBar-UHpsPw, .theme-dark .gameLibrary-TTDw4Y, .theme-dark .applicationStore-1pNvnv, .theme-dark .container-3gCOGc, .theme-dark .messagesWrapper-3lZDfY, .theme-dark .title-3qD0b-, .theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ, .theme-dark .chat-3bRxxu, .theme-dark .chat-3bRxxu form, .theme-dark .content-yTz4x3, .container-PNkimc, .theme-dark .members-1998pB, .theme-dark .header-39GIC8, .theme-dark .root-1BQpZw {
    background-color: transparent !important;
}
/* - */
/* Server Discovery */
/* - */
/* Backgrounds */
.theme-dark .pageWrapper-1PgVDX {
    background-color: transparent;
}
img.bg-AYqtMd {
    opacity: 0 !important;
}
/* Search Bar */
.searchBox-3Y2Vi7.searchBox-26HYGw {
    width: 100%;
}
/* No Match Found */
.theme-dark .emptySearchResults-1ba__I {
    background: transparent;
}
/* Cord */
.guildInfo-2wGKIg {
    background-color: transparent;
    padding: 20px 0px 10px 16px;
    width: 91%;
    margin: 0px;
    margin-bottom: 107px;
    margin-top: 0px;
    height: 0%;
}
img.splash-3N0nhD {
    filter: blur(5px) brightness(0.8);
}
.cardHovered-15wbb- .splash-3N0nhD {
    filter: blur(0) brightness(1) !important;
}
/* View Button */
/* - */
/* Calls */
/* - */
/* Oh shit, your mama calling rn */
.theme-dark .incomingCallInner-2VmFiR {
    background: rgba(0,0,0,0.75);
    border-color: transparent;
    position: fixed;
    width: 280px;
    right: 50px;
    bottom: -5px;
    padding: 30px;
}
/* You're now in a call with mama */
.theme-dark .wrapper-29NfPK {
    background-color: transparent;
}
.video-1FfuMD {
  background-color: transparent;
  width: 99.5%;
}
.theme-dark .wrapper-29NfPK.minimum-2d6zH6 .actions-2vadYq .center-1Vp33r {
    background-color: rgba(0,0,0,0.25);
    border-color: transparent;
    border-radius: 5px;
}
.callAvatarBorder-1D_KaE.video-3GgX2M {
    border-radius: 50px !important;
}
.callAvatar-v-u4BM.video-3GgX2M {
    border-radius: 50px;
}
.wrapper-29NfPK .iconsWrapper-1RelE3 {
    border-radius: 50px;
}
/* - */
/* Server List */
/* - */
/* NEW - Mention */
.mention-1f5kbO {
    background-color: var(--accentcolor);
    border-radius: 50px;
}
.bar-30k2ka {
    color: var(--accenttext);
}
.mention-1f5kbO:hover {
    background-color: var(--accentcolor);
    border-radius: 50px;
}
.bar-30k2ka:hover {
    color: var(--accenttext);
}
/* Height */
.guildsWrapper-5TJh6A {
    margin-top: -26px;
}
.guild-1EfMGQ, .guild-1EfMGQ .avatar-S_nsxk {
    margin-top: 20px;
}
/* Width */
.guildsWrapper-5TJh6A {
    margin-left: 13px;
    margin-right: 13px;
}
/* Home Icon */
.theme-dark .homeIcon-1FoKUJ { /* Hiding Discord Icons */
    color: transparent;
}
.guildInner-3DSoA4 { /* Making background of home icon transparent */
    background: transparent !important;
}
.theme-dark .homeIcon-1FoKUJ {
    color: transparent;
    background-image: var(--homeicon);
    background-size: 48px;
    background-repeat: no-repeat;
    background-position: center;
}
/* ## Online */
.theme-dark .friendsOnline-_wi_fM, .theme-light .friendsOnline-_wi_fM {
    color: white;
}
/* Seperator */
.theme-dark .guildSeparator-1X4GQ1:after {
    background: transparent;
}
.theme-dark .friendsOnline-_wi_fM, .theme-light .friendsOnline-_wi_fM {
    margin-bottom: -20px;
}
/* Selected Server */
.theme-dark .guild-1EfMGQ.selected-ML3OIq:before {
    background: transparent;
    border: 2px var(--serverselected) solid;
}
.guild-1EfMGQ.selected-ML3OIq:before {
    -webkit-transition: height .25s ease-in-out,margin-top .25s ease-in-out;
    border-radius: 50p;
    height: 50px;
    x: ;
    margin-top: -20.5px;
    transition: height .25s ease-in-out,margin-top .25s ease-in-out;
}
.guild-1EfMGQ.selected-ML3OIq:before, .guild-1EfMGQ.unread-qLkInr:before {
    border-radius: 50px;
    content: " ";
    height: 50px !important;
    left: -2px;
    margin-top: -20px;
    position: absolute;
    top: 36% !important;
    width: 50px !important;
}
/* Unread Server */
.theme-dark .guild-1EfMGQ.unread-qLkInr:before {
    background: transparent;
    border: 2px var(--serverunread) solid;
}
.guild-1EfMGQ.unread-qLkInr:before {
    border-radius: 50px;
    height: 50px;
    margin-top: -20px;
}
.guild-1EfMGQ.selected-ML3OIq:before, .guild-1EfMGQ.unread-qLkInr:before {
    border-radius: 50px;
    content: " ";
    height: 50px !important;
    left: -2px;
    margin-top: -20px;
    position: absolute;
    top: 36% !important;
    width: 50px;
}
/* Add Button */
.theme-dark .guildsAdd-21_IdK {
    background: rgba(0, 0, 0, 0.50);
    border-color: transparent;
    color: white;
}
.theme-dark .guildsAdd-21_IdK:hover {
    border-color: transparent;
}
/* Download Button - Discord Web Version */
.theme-dark .downloadAppButton-3EFlA6 {
    margin-top: -90px;
    visibility: hidden;
}
/* - */
/* Add Server - Modal */
/* - */
/* Background */
.theme-dark .slideBody-2nMrnU, .theme-light .slideBody-2nMrnU {
    background-image: none;
}
.theme-light .slide-2pHaq5 {
    background: transparent;
}
.theme-light .wrapper-2ZbzR9 {
    background: transparent;
}
/* OR */
.theme-dark .or-3THJsp, .theme-light .or-3THJsp {
    background-image: none;
    color: transparent;
}
/* Create or Join */
.theme-dark .action-1lSjCi, .theme-light .action-1lSjCi {
    background: transparent;
    border: none;
    box-shadow: none;
}
.theme-dark .join-33Tr-7 .actionIcon-2IISM_, .theme-light .join-33Tr-7 .actionIcon-2IISM_, .theme-dark .create-3jownz .actionIcon-2IISM_, .theme-light .create-3jownz .actionIcon-2IISM_ {
    background-image: none;
    visibility: hidden;
    height: 0px;
}
.theme-dark .actionBody-1qj65C, .theme-light .actionBody-1qj65C {
    color: transparent;
    visibility: hidden;
    height: 0px;
}
.theme-dark .create-3jownz .actionHeader-2CT5c7, .theme-light .create-3jownz .actionHeader-2CT5c7 {
    color: transparent;
    visibility: hidden;
    height: 0px;
}
.theme-dark .join-33Tr-7 .actionHeader-2CT5c7, .theme-light .join-33Tr-7 .actionHeader-2CT5c7 {
    color: transparent;
    visibility: hidden;
    height: 0px;
}
.actions-pBaxX6 {
    display: flex;
}
.theme-light .description-QF3836, .title-2Dc-Cb {
    color: white;
}
.regionSelect-3lf4eE .regionSelectInner-24f4Ce {
    border: none;
}
.regionSelect-3lf4eE button {
    border: none;
}
.theme-dark .regionSelect-3lf4eE:hover button, .theme-light .regionSelect-3lf4eE:hover button {
    background-color: transparent;
}
.theme-light .input-cIJ7To:focus {
    border-color: transparent;
}
/* - */
/* Home */
/* - */
/* Quick Switcher */
.searchBar-6Kv8R2::before {
    content: "Home";
    color: white;
}
.searchBar-6Kv8R2 {
    box-shadow: none;
}
.searchBar-2_Yu-C .searchBarInner-1_Tg2R {
    background: transparent;
    border: none;
}
.searchBar-2_Yu-C.searchBarComponent-32dTOx {
    visibility: hidden;
}
/* - */
/* Activity */
/* - */
.theme-dark .headerBar-UHpsPw {
    box-shadow: none;
}
/* News */
.carousel-2WxMes {
    height: 648px;
}
.paginationItem-2lUq0s {
    background: transparent;
    height: 156px;
}
.paginationItem-2lUq0s:before {
    height: 170px;
}
/* Quick Launcher */

/* Now Playing */
.theme-dark .player-1kJMbj {
    border-bottom-color: transparent;
}
.theme-dark .body-SKIE6r {
    background-color: #2f3136;
}
.splashArt-3yFzRe {
    width: 80%;
    height: 365%;
    filter: blur(2px);
}
.theme-dark .partyMemberBackground-aSF9mc {
    background-color: rgba(0,0,0,0.25);
}
.theme-dark .partyMemberOverflow-3VhFIX {
    background-color: rgba(0,0,0,0.25);
    color: white;
}
.theme-dark .partyMemberUnknownIcon-2zv8ar {
    color: white;
}
/* Background */
.theme-dark .body-SKIE6r, .theme-dark .header-1RC2Wb, .theme-dark .header-1RC2Wb:hover {
    background-color: rgba(0, 0, 0, 0.25);
}
.theme-dark .card-7JP0BX {
    background-color: transparent;
    color: white;
}
/* Buttons */
.headerButtonColor-G7_f-V {
    background: rgba(0,0,0,0.25);
    color: #fff;
    border-radius: 50px;
}
/* Seperators */
.theme-dark .headerText-2niCs_ {
    border-top-color: transparent;
}
.theme-dark .sectionLine-JjseS9 {
    background-color: transparent;
}
/* Game Pop Up */
.theme-dark .publisher-2ZxPEd {
    border-bottom: none;
}
.dot-2Q_mMZ {
    border-radius: 10px;
}
/* - */
/* Library */
/* - */
/* Game is installing */
.theme-dark .gameUpdates-2GPqBU {
    background-color: transparent;
}
button.actionButton-4w4-EY.button-38aScr.lookFilled-1Gx00P.colorPrimary-3b3xI6.sizeIcon-1-kvKI.grow-q77ONN {
    border-radius: 50px;
}
.theme-dark .progressCellText-3avmMz {
    color: white;
}
.progressBar-3zryPV.small-4dgL9e {
    background-color: var(--accentcolor) !important;
}
circle.circleProgress-1EBmVn {
    stroke: var(--accentcolor) !important;
}
/* Header */
.topPill-30KHOu .item-PXvHYJ {
    border-radius: 50px;
}
/* Search Bar */
.theme-dark .libraryFilterInput-3JzqZD {
    background-color: transparent;
}
/* Games */
.theme-dark .rowWrapper-2fB6P0+.rowWrapper-2fB6P0 .row-ZLfFhY {
    border-top-color: transparent;
}
.headerCell-3L6rFG {
    border-left: none;
}
/* Install / Play Button */
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background-color: var(--accentcolor);
    color: var(--accenttext);
}
.theme-dark .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:hover, .theme-light .lookFilled-1Gx00P.hoverGreen-1gjdJc.hasHover-3X1-zV:hover {
    background-color: var(--accentcolor);
    color: var(--accenttext);
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: var(--accentcolor);
    color: var(--accenttext);
}
/* Redeem Code */
.theme-dark .input-cIJ7To {
    border-color: transparent;
}
.theme-dark .input-cIJ7To:hover {
    border-color: transparent;
}
/* Seperators */
.theme-dark .header-39GIC8 {
    border-bottom-color: transparent;
}
.theme-dark .divider-2PMBlV {
    background: transparent;
}
.theme-dark .divider-3573oO {
    background-color: transparent;
}
/* - */
/* Discord's Store */
/* - */
/* Top Cover */
.itemBackground-1YUOje {
    height: 0;
    width: 0;
}
.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    border-color: transparent;
    color: var(--accenttext);
    background: var(--accentcolor);
}
/* Seperators */
.theme-dark .distributionApplicationsActions-3D2_kD, .theme-dark .premiumApplicationsHeader-Zmkm5e {
    border-color: transparent;
}
/* Grid of Games */
.platform-3suY7a {
  visibility: hidden;
}
.tagline-2nvxi0.pc-tagline {
    visibility: hidden;
    height: 0px;
}
h2.title-1rUb9I.pc-title {
    margin-top: 110px;
}

/* Search Bar */
.theme-dark .filterBackground-QanGTJ:before {
    opacity: 0;
}
.filterByTitle-1b4n21 {
    width: 100% !important;
}
.searchBox-3Y2Vi7 {
    border-radius: 5px;
}
.theme-dark .searchBox-3Y2Vi7 {
    background-color: rgba(0,0,0,0.25);
    box-shadow: none;
}
/* /// Under Game Page /// */
/* Slide Show */
.pagination-1iCa-F {
    max-width: 100%;
    padding: 0px;
}
/* Backgrounds */
.theme-dark .root-1bFE0x {
    background-color: transparent;
}
/* Seperators */
.theme-dark .section-7tu4tu {
    border-bottom-color: transparent;
}
.theme-dark .divider-21LyPb {
    border-color: transparent;
}
/* - */
/* Context */
/* - */
/* Check */
.theme-dark .checkbox .checkbox-inner span {
    border-radius: 50px !important;
}
/* Seperators */
.theme-dark .itemGroup-1tL0uz {
    border-color: transparent;
}
/* - */
/* Friends */
/* - */
/* Add Friend */
.theme-dark .friendsTable-133bsv .friendTableAddWrapper-nHHZtK .friendTableAddHeader-m9bzFr {
    background: transparent;
    border-bottom: transparent;
}
.theme-dark .wrapper-1cBijl {
    background-color: rgba(36,39,43,.2);
    border-color: transparent;
}
.theme-dark .friendsTable-133bsv .friendTableAddWrapper-nHHZtK .friendTableSuggestionsHeader-2zSnpD {
    border-bottom: none;
}
/* Header */
.topPill-30KHOu .separator-gCa7yv {
    width: 0px;
}
/* Friends */
.theme-dark .friendsTable-133bsv .friendsRow-2yicud+.friendsRow-2yicud {
    border-top: none;
}
.channel-2QD9_O.selected-1HYmZZ a, .channel-2QD9_O:hover a {
    background-color: rgba(0,0,0,0.25);
}
.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d {
    border-bottom: none;
}
.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumnSeparator-3MqtMA {
    background-color: transparent;
}
/* Buttons */
.friendsAction-__WNE9.pc-friendsAction.friendsActionRemove-qu8nnl.pc-friendsActionRemove, .friendsAction-__WNE9.pc-friendsAction.friendsActionVideoCall-2_PKeP.pc-friendsActionVideoCall, .friendsAction-__WNE9.pc-friendsAction.friendsActionVoiceCall-3EdPsR.pc-friendsActionVoiceCall {
    border-radius: 50px;
}
.friendsAction-__WNE9.da-friendsAction.friendsActionRemove-qu8nnl.da-friendsActionRemove, .friendsAction-__WNE9.da-friendsAction.friendsActionVideoCall-2_PKeP.da-friendsActionVideoCall, .friendsAction-__WNE9.da-friendsAction.friendsActionVoiceCall-3EdPsR.da-friendsActionVoiceCall {
    border-radius: 50px;
}
.friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9 {
  border-radius: 50px;
}
/* - */
/* Upload modal */
/* - */
/* Comment */
.channelTextArea-1LDbYG.pc-channelTextArea.channelTextAreaUpload-3t7EIx.pc-channelTextAreaUpload.marginTop8-1DLZ1n.pc-marginTop8 {
    WIDTH: 73%;
    margin-left: 125px;
}
.channelTextArea-1LDbYG.da-channelTextArea.channelTextAreaUpload-3t7EIx.da-channelTextAreaUpload.marginTop8-1DLZ1n.da-marginTop8 {
    WIDTH: 73%;
    margin-left: 125px;
}
/* Make Spoiler */
.box-mmYMsp {
    border-radius: 50px;
}
/* Backgrounds and Borders */
.uploadModal-2ifh8j {
   background-color: transparent;
}
.uploadModal-2ifh8j .inner-3nWsbo {
    border: 2px dashed rgba(170, 184, 232, 0);
}
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo {
    border: 2px dashed hsla(0, 0%, 100%, 0);
}
/* Upload is too big */
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .inner-3nWsbo .icons-1w691d {
    height: 20px;
}
/* Video File */
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.video-27RLEH {
    background-image: url(/assets/dae57381bd2599b546fc014a41708c06.svg);
    background-color: #5b6dae;
    padding: 137px;
    width: 446px;
    margin-left: -12px;
    border-radius: 8px 8px 0px 0px;
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.webcode-22GGLX {
    background-color: #5b6dae;
    padding: 137px;
    width: 446px;
    margin-left: -12px;
    border-radius: 8px 8px 0px 0px;
}
/* File */
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.unknown-3TPTMr {
    background-image: url(/assets/92fc72e47a5854ae12c1167e69573d77.svg);
    background-color: #5b6dae;
    padding: 137px;
    width: 446px;
    margin-left: -12px;
    border-radius: 8px 8px 0px 0px;
}

/* Document */
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.document-2cvI0u {
    background-image: url(/assets/a4ef7d20760cef4c165825770fd12ac7.svg);
    background-color: #5b6dae;
    padding: 137px;
    width: 446px;
    margin-left: -12px;
    border-radius: 8px 8px 0px 0px;
}
/* ZIP */
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.archive-2hqXug {
    background-image: url(/assets/3408a4597fdee6f7edef69f7fb487b38.svg);
    background-color: #5b6dae;
    padding: 137px;
    width: 446px;
    margin-left: -12px;
    border-radius: 8px 8px 0px 0px;
}
/* Size of Modal */
.uploadModal-2ifh8j {
    min-height: 428px;
    width: 720px;
}
/* Image */
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    background-color: #5b6dae;
    background-size: cover;
    border: 2px solid rgb(91, 109, 174);
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0);
    height: 392px;
    margin-left: -12px;
    width: 720px;
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j:active {
    background-image: contain;
}
/* Comment Box */
.uploadModal-2ifh8j .inner-3nWsbo .comment-4IWttf {
    margin: 0 18px;
    margin-top: 243px;
    margin-bottom: -107px;
    margin-right: 160px;
}
.uploadModal-2ifh8j .inner-3nWsbo .comment-4IWttf .label-3aiqT2 .optional--ezibr {
    opacity: 0;
}
/*  Buttons */
.uploadModal-2ifh8j .footer-3mqk7D .button-primary {
    border-radius: 50px;
}
/* - */
/* Chat */
/* - */
/* Welcome to the server, user */
.welcomeMessage-3_Mcht .h1-1IDj26 {
    color: white;
    font-size: 25px;
}
.itemContainer-WiE19S {
    visibility: hidden;
    height: 0px;
}
.theme-dark .base-34jWEe {
    background-image: none;
    border-color: transparent;
}
/* Join message with green arrow */
.icon-2Po-VO {
    background-image: url(https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/twitter/180/waving-hand-sign_1f44b.png) !important;
}
/* No Text Channel */
.theme-dark .noChannel-Z1DQK7 {
    background: transparent;
}
/* Invite - Joined */
.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6 {
    border-color: transparent;
}
.theme-dark .guildIconImage-3qTk45 {
    border-radius: 50px;
}
.theme-dark .wrapper-35wsBm {
    background: rgba(0,0,0,0.25);
    border-color: transparent;
}
/* Typing... */
.theme-dark .typing-2GQL18 {
    background-color: transparent;
}
/* Spoilers */
.theme-dark .spoilerText-3p6IlD.hidden-HHr2R9 {
    background-color: rgba(255, 255, 255, 0.25);
}
.theme-dark .spoilerText-3p6IlD.hidden-HHr2R9:hover {
    background-color: rgba(255, 255, 255, 0.50);
}
.spoiler-1PPAUc.hiddenSpoilers-1ksnR6 {
    filter: blur(20px) brightness(0.3);
}
.theme-dark .spoilerWarning-2aAZq1 {
    background-color: transparent;
    color: white;
}
.theme-dark .spoilerContainer-331r0R:hover .spoilerWarning-2aAZq1 {
    background-color: transparent;
    color: white;
    opacity: 0.5;
}
/* Messages */
.theme-dark .dividerEnabled-2TTlcf {
    border-bottom-color: transparent;
}
/* Date */
.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:after, .theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI:before {
    border-color: transparent;
}
/* Text Box| */
.theme-dark .inner-zqa7da {
    background-color: transparent;
}
.theme-dark .attachButtonDivider-3Glu60 {
    background-color: transparent;
}
.theme-dark .channelTextArea-rNsIhG {
    border-top: none;
}
/* Lurker Mode */
.theme-dark .wrapper-39oAo3 {
    background-color: rgba(0,0,0,0.25);
    color: white;
    border-radius: 50px;
    height: 30px;
}
img.image-3XsqGc {
    transform: scale(0.8);
}
/* Header of channel */
.theme-dark .topic-2QX7LI:before {
    background-color: transparent;
}
.iconInactive-g2AXfB {
    opacity: 1;
}
/* @ Pop Up */
.theme-dark .messagesPopoutWrap-1MQ1bW {
    background-color: rgba(0,0,0,0.90);
    border: none;
    box-shadow: none;
}
.theme-dark .header-ykumBX {
    background-color: transparent;
    box-shadow: none;
}
.theme-dark .messageGroupWrapper-o-Zw7G {
    background-color: rgba(54, 57, 63, 0.25);
    border-color: transparent;
}
.theme-dark .message-2qRu38 {
    box-shadow: none;
}
.theme-dark .footer-2yfCgX {
    background-color: transparent;
    box-shadow: none;
}
/* Spotify Modal(in chat) */
.theme-dark .invite-18yqGF {
    background: rgba(0, 0, 0, 0.5);
    border-color: transparent;
}
.theme-dark .artworkSpotifySessionEnded-11d_If {
    background-image: url(https://raw.githubusercontent.com/CorbsEditor/Dream-Frame/master/resources/SpotifyPartyOver.png);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
}
/* Upload Menu */
.popoutTopLeft-b5Eb3O {
    margin-top: 20px;
}
.attachPopout-1n-ZKM {
    margin-top: 40px !important;
    margin-bottom: -37px;
    margin-left: 3px;
}
.theme-dark .attachPopout-1n-ZKM {
    background-color: transparent;
}
.attachPopoutRowText-1tIocA {
    visibility: hidden;
    font-size: 0px;
}
.attachPopoutRow-KrE-f6 {
    display: -webkit-inline-box;
}
.attachPopout-1n-ZKM {
    margin-top: 10px;
    margin-left: -6px;
    opacity: 0.5;
}
.theme-dark .attachPopoutRow-KrE-f6:hover {
    background-color: transparent;
}
textarea.textArea-2Spzkt.textArea-2Spzkt.scrollbarGhostHairline-1mSOM1.scrollbar-3dvm_9 {
    z-index: 5;
}
button.attachButton-1UjEWA.popout-open.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN {
    z-index: 5;
}
/* Emoji Menu */
.emojiPicker-3m1S-j .header-1nkwgG {
    border-bottom: none;
}
.emojiPicker-3m1S-j .header-1nkwgG {
    visibility: visible;
    height: 60px;
}
/* Command Menu */
.theme-dark .contentTitle-2tG_sM, .theme-dark .description-11DmNu, .theme-dark .descriptionUsername-J_75O8, .theme-dark .content-Qb0rXO {
    color: var(--accenttext);
}
.autocomplete-1vrmpx {
    border-radius: 5px;
}
.theme-dark .autocomplete-1vrmpx {
    background-color: var(--accentcolor);
    opacity: 0.95;
}
/* Embeds */
.theme-dark .embedInner-1-fpTo {
    border-color: transparent;
}
.embedPill-1Zntps {
    border-radius: 50px;
    width: 5px;
}
/* Members List */
.theme-dark .member-3W1lQa:hover .content-OzHfo4 {
    background-color: rgba(54, 57, 63, 0.50);
    color: #fff;
}
.theme-dark .members-1998pB {
    height: 92%;
}
.theme-dark .members-1998pB::before {
    content: "";
    background-image: url(https://github.com/CorbsEditor/Dream-Frame/blob/master/resources/VersionNumber.png?raw=true) !important;
    width: 157px;
    height: 25px;
    position: fixed;
    right: 4%;
    bottom: 2%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Scroll Bar */
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
    border-color: #36393f00;
}
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    background-color: #2f313600;
    border: 0px solid #36393f00;
}
/* Code Block */
.theme-dark .markup-2BOw-j pre {
    background: rgba(0,0,0,0.25);
    border-color: transparent;
}
.theme-dark .markup-2BOw-j code, .theme-dark .markup-2BOw-j code.inline {
    background: rgba(0, 0, 0, 0.25);
}
.theme-dark .markup-2BOw-j code, .theme-dark .markup-2BOw-j code.inline {
    background: transparent;
}
.hljs ol li::before {
    color: white;
}
/* Blocked Messages */
.theme-dark .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh- {
    background: transparent;
    color: white;
}
.theme-dark .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh-:hover {
    background: transparent;
    color: white;
}
.theme-dark .messageGroupBlocked-3wrQQX {
    background: rgba(0,0,0,0.25);
    border-color: transparent;
}
.theme-dark .messageGroupBlocked-3wrQQX:hover {
    background: rgba(0,0,0,0.25);
    border-color: transparent;
}
.theme-dark .messageGroupBlocked-3wrQQX.revealed-1_RKsf {
    background: rgba(0,0,0,0.20);
    border-color: transparent;
}
/* Search */
.theme-dark .search-2oPWTC .searchBar-3dMhjb {
    background-color: hsla(0, 0%, 100%, 0);
}
.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
    background-color: transparent;
    box-shadow: none;
}
.jumpButton-3DTcS_ {
    border-radius: 50px;
}
.search-2oPWTC .searchBar-3dMhjb {
  width: 34px;
}
.searchBarIcon-1J6sKG .icon-3cZ1F_.visible-3V0mGj {
    opacity: 1;
    transform: scale(1.15) !important;
}
.searchBarIcon-1J6sKG.icon-38sknP {
    pointer-events: none;
}
i.icon-3cZ1F_.iconSearchBarClear-2DW-Kr.visible-3V0mGj {
    pointer-events: all !important;
}
.search-2oPWTC.focused-31_ccS .searchBar-3dMhjb, .search-2oPWTC.open-6_Y_aH .searchBar-3dMhjb, .search-2oPWTC.popout-open .searchBar-3dMhjb {
    width: 313px;
}
.theme-dark .container-3ayLPN {
    background-color: var(--accentcolor);
}
.theme-dark .option-96V44q:after {
    background: none;
}
.theme-dark .resultsGroup-r_nuzN:before {
    border-top: none;
}
.theme-dark .searchOption-zQ-1l6 .answer-1n6g43 {
    color: var(--accenttext);
    opacity: 1;
}
.channelSeparator-1X1FuH:before {
    border-bottom: 0px solid rgba(0, 0, 0, 0);
}
.theme-dark .searchResult-3pzFAB.expanded-v2Szsz {
    border: 0px solid rgba(28,36,43,.6);
}
.theme-dark .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA {
    background-color: rgba(0, 0, 0, 0.25);
    border-bottom: 2px solid rgba(28, 36, 43, 0);
    border-top: 2px solid rgba(28, 36, 43, 0);
    box-sizing: border-box;
}
.theme-dark .searchHeader-1l-wpR, .theme-dark .searchResultsWrap-2DKFzt, .theme-dark .channelSeparator-1X1FuH .channelName-1QajIf, .theme-dark .searchResult-3pzFAB:before, .theme-dark .searchResult-3pzFAB:before, .theme-dark .searchResult-3pzFAB:after {
    background-color: transparent !important;
    background-image: none;
    box-shadow: 0 0px 0 rgba(0,0,0,0);
}
.theme-dark .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA {
    border: 0px solid rgba(28, 36, 43, 0);
}
.theme-dark .searchResult-3pzFAB .hit-NLlWXA {
    -webkit-box-shadow: 0 0 10px 6px #2f3136;
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 0px 0px transparent;
}
.searchBar-2_Yu-C.searchBarLight-1NxoDG {
    background-color: rgba(76, 53, 53, 0);
}
.searchBar-2_Yu-C.searchBarLight-1NxoDG input {
    -webkit-box-shadow: none;
    background: transparent;
    border: none;
    box-shadow: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
}
/* - */
/* Channel list */
/* - */
/* Name of Server */
.header-2o-2hj {
    box-shadow: none;
}
.popout-open .header-2o-2hj {
    background-color: transparent;
}
.header-2o-2hj:hover {
    background-color: transparent;
}
.button-1w5pas {
    opacity: 1;
}
/* New Unread */
.bar-30k2ka.flexCenter-3_1bcw.flex-1O1GKY.justifyCenter-3D2jYp.alignCenter-1dQNNs.pc-bar.pc-flexCenter.pc-flex.pc-justifyCenter.pc-alignCenter.unreadBar-3YD_k9.pc-unreadBar.unread-1xRYoj.active-1SSsBb.pc-unread.pc-active {
    border-radius: 50px;
}
/* Category */
.iconCollapsed-3hFp_8, .iconDefault-3Gr8d2, .nameCollapsed-34uFWo, .nameDefault-2DI02H {
    color: white;
}
/* Channel Names */
.nameDefaultText-24KCy5, .nameDefaultVoice-3WUH7s, .nameLockedText-3pqQcL, .nameLockedVoice-26MhB1 {
    color: white;
}
.name-3M0b8v {
    font-weight: 300;
}
/* Channel Selected */
.contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM {
    background-color: rgba(0, 0, 0, 0.50);
    border-radius: 50px;
}
.actionIcon-2Hi9ZG {
    opacity: 1;
}
/* Channel Hover */
.contentConnectedVoice-qL-YrL:active, .contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO:active, .contentSelectedVoice-1WDIBM:active {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}
/* Channel Unread */
.colorConnectedText-1c_uzY, .colorDefaultText-oas-QM, .colorHoveredText-OZnAgu, .colorLockedText-1VRkPt, .colorLockedVoice-2UlBjl, .colorSelectedText-1y4Wvs, .colorSelectedVoice-Xcb_9R, .colorUnreadText-2t7XRb {
    color: transparent;
}
.unread-1Dp-OI {
    background-color: white;
    border-radius: 50px;
    height: 10px;
    left: 18px;
    width: 10px;
}
/* Category Drop Down Arrow */
.iconCollapsed-3hFp_8, .iconDefault-3Gr8d2, .iconHovered-2L3-fB, .iconHoveredCollapsed-3caIIZ, .iconMuted-1HVBGH, .iconUnread-2eGkvX {
    opacity: 0 !important;
}
/* Add Channel Button */
.addButtonIcon-3u-3Hu {
    opacity: 1;
    transform: scale(0.8);
}
/* Muted Channel */
.nameMutedText-3Vj4bM, .nameMutedVoice-3oxyQZ {
    color: rgba(255, 255, 255, 0.25);
}
.colorMutedText-36M8WR, .colorMutedVoice-3ghIuw {
    color: transparent;
}
/* Voice Icon */

/* Server Drop Down Menu */
.popout-3sVMXz {
    box-shadow: none;
}
.theme-dark .separator-2zcjq8 {
    border-bottom-color: transparent;
}
.theme-dark .item-1GzJrl {
    color: white;
}
.icon-2doZ3q {
    filter: brightness(5);
}

/* Bottom */
.container-1UB9sr {
    background: transparent;
    border-bottom: transparent;
}
.button-2KyEfG {
    border-radius: 50px;
}
/* - */
/* Profile Modal */
/* - */
/* Profile Background - ID */ /* This code is by Frozty and modified by Korbs */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf + .statusProfile-3ynqtt {
    background-size: cover;
    background-position: center;
    background-color: transparent;
    pointer-events: none;
    border: none !important; /* hides line on top when opening profile */
    content: " ";
    display: block;
    height: 100%;
    width: 100% !important;
    border-radius: 3px;
    position: fixed;
    top: 0px;
    right: -525px;
    z-index: -1;
    border-radius: 0px !important;
}
/* corner info */
.container-2Thooq {
    height: 50px;
    margin-bottom: 26px;
}
/* Backgrounds */
.topSectionSpotify-1lI0-P {
    background: var(--accentcolor);
}
.headerFill-adLl4x {
    background-color: transparent;
}
.theme-dark .body-3ND3kc {
    background-color: #2f3136;
    height: auto;
    overflow-y: auto;
}
/* Avatar */
.image-33JSyf.da-image.profile-ZOdGIb.da-profile.maskProfile-1ObLFT.mask-3OgeRz.da-maskProfile.da-mask:active {
  height: 100%;
  border-radius: 0px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50 !important;
  width: 55%;
  transform: translate(-50%, -50%);
  transition: 2s;
}
.image-33JSyf.da-image.profile-ZOdGIb.da-profile.maskProfile-1ObLFT.mask-3OgeRz.da-maskProfile.da-mask:hover {
    cursor: zoom-in;
}
/* Seperators */
.theme-dark .connectedAccount-36nQx7, .theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx {
    border-color: transparent;
}
.tabBarContainer-1s1u-z {
    border-top: none;
    padding-left: 20px;
}
/* Buttons */
.lookOutlined-3sRXeN.colorWhite-rEQuAQ:disabled {
    border-color: transparent;
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: var(--accentcolor);
    color: var(--accenttext);
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background-color: var(--accentcolor);
    color: var(--accenttext);
}
.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6:hover {
    border: 1.4px white solid;
}
/* Badges */
.powercord-badges div:first-child div {
    padding-left: 6px;
    border-left: none;
}
/* Pop Up */
.headerXbox-3G-4PF {
    background: var(--accentcolor);
}
.headerSpotify-zpWxgT {
    background: var(--accentcolor);
}
li.role-2irmRk.flex-1O1GKY.alignCenter-1dQNNs.da-role.da-flex.da-alignCenter {
    border-color: transparent !important;
}
li.role-2irmRk.flex-1O1GKY.alignCenter-1dQNNs.pc-role.pc-flex.pc-alignCenter {
    border-color: transparent !important;
}
.role-2irmRk {
  border: 0px solid !important;
}
.theme-dark .footer-1fjuF6 {
    border-color: transparent;
}
.theme-dark .actionButton-VzECiy {
    border-color: transparent;
    color: white;
}
.theme-dark .headerNormal-T_seeN {
    background-color: var(--accentcolor);
}
.theme-dark .quickMessage-1yeL4E {
    border-color: transparent;
}
.popoutLeft-30WmrD.noArrow-3BYQ0Z {
    margin-left: -20px !important;
}
/* - */
/* Status Picker */
/* - */
.helper-2c73HK.pc-helper {
    visibility: hidden;
    height: 0px;
}
.item-1GzJrl.pc-item {
    height: 38px !important;
}
.helper-2c73HK.da-helper {
    visibility: hidden;
    height: 0px;
}
.item-1GzJrl.da-item {
    height: 38px !important;
}

/* - */
/* Settings - Server */
/* - */
/* Are you sure you want to save? */
.container-2VW0UT.elevationHigh-1PneE4.pc-container.pc-elevationHigh {
    border-radius: 50px;
}
.container-2VW0UT.elevationHigh-1PneE4.da-container.da-elevationHigh {
    border-radius: 50px;
}
/* Overview */
input.inputDefault-_djjkz.input-cIJ7To.size16-14cGz5.da-inputDefault.da-input.da-size16 {
    border-radius: 5px;
}
input.inputDefault-_djjkz.input-cIJ7To.size16-14cGz5.pc-inputDefault.pc-input.pc-size16 {
    border-radius: 5px;
}
/* Moderation */
.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6:disabled {
    background-color: rgba(0,0,0,0.25);
    border-color: transparent;
}
.theme-dark .auditLog-3jNbM6 {
    border-color: transparent;
    color: white;
}
.theme-dark .divider-1pnAR2 {
    background-color: transparent;
}
.divider-1pnAR2 {
    height: 0px;
}
/* Roles */
.theme-dark .input-cIJ7To.disabled-2BKQFm {
    border-color: transparent;
}
/* Emojis */
.theme-dark .emojiRow-zIc7ZX {
    box-shadow: none;
}
button.button-mM-y8i.da-button.emojiRemove-1k6MlJ.da-emojiRemove {
    margin-top: 32px;
    margin-right: 30px;
}
button.button-mM-y8i.pc-button.emojiRemove-1k6MlJ.pc-emojiRemove {
    margin-top: 32px;
    margin-right: 30px;
}
/* Widget */
.theme-dark .copyInputDefault-21sXtF {
    border-color: transparent;
}
/* Members */
.theme-dark .member-1q7VfX {
    box-shadow: none;
}
.theme-dark .searchBar-1MOL6S {
    background-color: transparent;
}
/* Invites */
.theme-dark .inviteSettingsInviteRow-3p2O-N {
    box-shadow: none;
}
/* Ban */
.theme-dark .bannedUser-1IalTM {
    box-shadow: none;
}

/* - */
/* Settings - Discord */
/* - */
.side-8zPYf6 .separator-gCa7yv {
    height: 0px;
}
/* Backgrounds */
.theme-dark .contentRegion-3nDuYy, .theme-dark .sidebarRegion-VFTUkN, .theme-dark .standardSidebarView-3F1I7i {
    background: transparent;
}
/* My Account */
.theme-dark .cardPrimary-1Hv-to {
    background: rgba(0, 0, 0, 0.25);
    border-color: transparent;
}
.theme-dark .cardPrimaryEditable-3KtE4g {
    background: rgba(0, 0, 0, 0.25);
    border-color: transparent;
}
/* Privacy & Safety */
.lookOutlined-3sRXeN.colorBrand-3pXr91 {
    border-color: transparent;
}
/* Authorized Apps */
.theme-dark .cardPrimaryOutline-29Ujqw {
    border-color: transparent;
    background: rgba(0,0,0,0.25);
}
/* Connections */
.theme-dark .accountBtnInner-sj5jLs {
    background-color: rgba(0,0,0,0.25);
    border-color: transparent;
    border-radius: 50px;
}
.connectionHeader-2MDqhu {
    background: rgba(0,0,0,.1);
    border-bottom: none;
}
.theme-dark .elevationLow-2lY09M {
    box-shadow: none;
}
.connectionDelete-2Odoln {
    border: transparent;
}
/* Billing */
.theme-dark .paymentRow-2e7VM6 {
    border-bottom: none;
}
.theme-dark .paymentPane-3bwJ6A {
    background-color: transparent;
    color: white;
}
.theme-dark .paginator-166-09 {
    background: transparent;
}
.theme-dark .paginator-2CA79G {
    color: white;
}
.theme-dark .payment-xT17Mq {
    background-color: transparent;
    color: white;
}
.theme-dark .hoverablePayment-Yc6mK7:hover {
    background-color: rgba(0,0,0,0.25);
    border-radius: 5px;
}
.theme-dark .pageButtonNext-V2kUq0, .theme-dark .pageButtonPrev-1Y-47D {
    border-color: transparent;
}
.theme-dark .pageIndicator-1gAbyA {
    border-color: transparent;
    color: white;
}
.theme-dark .codeRedemptionRedirect-1wVR4b {
    background-color: transparent;
    border-color: transparent;
    color: #fff;
}
.lookOutlined-3sRXeN.colorRed-1TFJan:disabled {
    background-color: transparent;
    border-color: transparent;
}
.theme-dark .select-2TCrqx .Select-control {
    background: rgba(0,0,0,.1);
}
/* Discord Nitro */
.theme-dark .container-2Zlzt0 {
    background-color: transparent;
}
.tier1-1ttHRY.banner-3Kac2g {
    background-size: cover;
}
.banner-3Kac2g {
    height: 140px;
    border-radius: 5px;
}
.theme-dark .lookOutlined-3sRXeN.colorTransparent-1ewNp9 {
    border-color: transparent;
    color: white;
}
/* HypeSquad */
.theme-dark .featureBorder-7j4v58 {
    border-color: transparent;
}
.membershipDialogSwitchHouses-1K8L1U {
    border-top: none;
}
.leaveActionWrapper-34XGz6 {
    border-top: none;
}

/* Voice & Video */

/* Overlay */
.theme-dark .checkbox-1ix_J3 {
    border-color: transparent;
}
.theme-dark .container-1nZlH6 {
    background-color: rgba(0,0,0,.1);
    border-color: transparent;
}
.option-n0icdO {
    height: 32%;
    width: 14%;
}
.selected-mKYnfr.option-n0icdO {
    background-color: var(--accentcolor);
}
/* Notifications */
.theme-dark .notificationsSound-27jFSh {
    box-shadow: none;
}
.theme-dark .select-2TCrqx .Select-control {
    border: none;
}
/* Keybinds */
.theme-dark .card-FDVird:before {
    background-color: transparent;
    border-color: transparent;
}
.theme-dark .row-2okwlC {
    box-shadow: none;
}
.container-CpszHS:not(.disabled-29eJ21):hover {
    border-color: transparent;
    background-color: rgba(255, 0, 0, 0.25);
}

/* Game Activity */
.theme-dark .installationPath-24giJj {
    box-shadow: none;
}
/* Game Library */

/* Text & Images */

/* Appearance */
.grabber-3mFHz2 {
    height: 12px;
    top: 65%;
    width: 12px;
    border-radius: 50px;
}
.theme-dark .markDash-3hAolZ {
    background: transparent;
}
/* Streamer Mode */

/* Language */
.theme-dark .item-3eFBNF {
    box-shadow: none;
}
/* Spotify Modal */
/* - */
/* Powercord */
/* - */
/* Spotify Modal */
.theme-dark .button-2b6hmh, .theme-light .button-2b6hmh {
  border-radius: 50px;
}
/* Settings */
.theme-dark .powercord-account {
    border: none;
}
.theme-dark .powercord-plugin {
    border: none;
}
.theme-dark .powercord-plugin-footer {
    border-top: none;
}
.powercord-plugins-wip {
    background-color: rgba(216, 64, 64, 0.25);
    border-radius: 50px;
}
.lookOutlined-3sRXeN.colorRed-1TFJan {
    border-color: transparent;
}
.input-cIJ7To {
    border-radius: 5px;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    border-radius: 50px;
}
.side-8zPYf6 .itemSelected-1qLhcL {
    border-radius: 50px;
}
.theme-dark .side-8zPYf6 .itemDefault-3Jdr52:hover, .theme-dark .side-8zPYf6 .itemHover-EnbcjT:hover {
    border-radius: 50px;
}
.theme-dark .lookFilled-1h1y05.select-1Pkeg4:hover {
    border-color: none;
}
/* Switches */
.themeDefault-24hCdX.valueChecked-m-4IJZ {
    background-color: var(--accentcolor);
}
.size-3rFEHg:after {
    background-color: transparent;
}
.themeDefault-24hCdX.sizeDefault-2YlOZr:after {
    box-shadow: none;
}
.sizeDefault-2YlOZr {
    width: 24px;
}
.value-2hFrkk:after {
    -webkit-transition: width .0s ease-in-out,left .0s ease-in-out,-webkit-transform .0s ease-in-out;
    left: 0;
    transition: width .0s ease-in-out,left .0s ease-in-out,-webkit-transform .0s ease-in-out;
    transition: transform .0s ease-in-out,width .0s ease-in-out,left .0s ease-in-out;
    transition: transform .0s ease-in-out,width .0s ease-in-out,left .0s ease-in-out,-webkit-transform .0s ease-in-out;
}
/* - */
/* BetterDiscord - Settings */
/* - */
.theme-dark #bd-settings-sidebar .ui-tab-bar-separator {
    background-color: transparent;
}
#bd-settings-sidebar .ui-tab-bar-separator {
    height: 0px;
}
/* Selected Tab */
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected {
    border-radius: 50px;
}
/* Hover Tabs */
.theme-dark #bd-settings-sidebar .ui-tab-bar-item {
    border-radius: 50px;
}
/* Core */
#bd-settingspane-container .ui-switch-item .style-description {
    border-bottom: none;
}
/* Bandages */
.bd-pfbtn {
    border-radius: 50px !important;
}
/* Custom CSS */
.ace-monokai {
    background-color: rgba(0,0,0,0.25);
    color: white;
}
div#bd-customcss-editor {
    border-radius: 7px;
}
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button {
    background: rgba(0,0,0,0.25);
    margin-top: 5px;
    border-radius: 3px;
    border-radius: 50px !important;
    margin-left: 10px;
}
div#bd-customcss-detach-controls-button {
    margin-left: -17px;
}

.ace-monokai .ace_gutter {
    background: transparent;
    color: white;
}
.contentRegion-3nDuYy #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls {
    background: transparent;
    box-shadow: none;
}
/* Plugin */
.theme-dark .bda-slist .bda-header {
    color: white;
    border-bottom-color: transparent;
}
.theme-dark .bda-slist .bda-footer {
    border-top-color: transparent;
}

/* ============================================================================ */
/* PLUGINS */ /*PLUGINS*/ /* PLUGINS */ /*PLUGINS*/ /* PLUGINS */ /*PLUGINS*/
/* Message Logger */
.ml-tab-button {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: inline-block;
    border-radius: 50px;
    margin: 15px 10px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 15px;
}
.ml-filter-field {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 50px;
    height: 25px;
    line-height: 25px;
    width: 80%;
    margin-top: 10px;
    color: white;
    padding: 0px 5px;
}
.ml-filter-help-button {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 50px;
    height: 25px;
    line-height: 25px;
    width: 8%;
    margin-top: 10px;
    color: white;
    padding: 0px 5px;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s;
}
/* Citador */
.citar-btn {
    cursor: pointer;
    margin: 3px 5px;
    padding: 0 10px;
    background-color: transparent !important;
    border-radius: 50px !important;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    opacity: 0.8;
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_format_quote_white_48px.svg);
    background-size: 90% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    color: transparent !important;
}
/* ReplySystem */
.reply-list {
    background: var(--accentcolor);
    border-radius: 50px;
    color: var(--accenttext);
}
.reply-clear {
    opacity: 1;
    top: 8px;
    right: 8px;
}
.reply-item {
    padding: 6px;
    border-radius: 50px;
}
/* Server Search */
.theme-dark .popoutList-T9CKZQ {
    background: var(--accentcolor);
    margin-left: 24px;
}
.theme-dark .searchBar-1MOL6S .input-3Xdcic {
    color: var(--accenttext);
}
.theme-dark .selectableItem-1MP3MQ {
    color: var(--accenttext);
}
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track {
    background-color: rgba(46, 51, 56, 0);
}
.theme-dark .selectableItem-1MP3MQ:hover {
    background-color: rgba(32, 34, 37, 0.22);
    border-radius: 50px;
}
/* Better Formatting Redux */
.bf-toolbar:before {
    background-color: rgba(32, 34, 37, 0.22);
    border-radius: 50px;
}
.bf-toolbar .format {
    border-radius: 50px;
}
.bf-toolbar .format img {
    opacity: 1;
}
/* Permission Viewer */
#permissions-modal-wrapper .header {
    background-color: #2f3136;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,.2);
}
#permissions-modal-wrapper .perm-side {
    background-color: #2f3136;
}
#permissions-modal-wrapper .perm-item {
    box-shadow: inset 0 0px 0 rgba(79, 84, 92, 0);
}
#permissions-modal-wrapper .role-item.selected {
    background-color: rgba(0,0,0,0.2);
    border-radius: 50px;
    padding: 10px 10px 10px 10px;
}
#permissions-modal-wrapper .role-item:hover {
    border-radius: 50px;
    padding: 10px 10px 10px 10px;
}
#permissions-modal-wrapper .role-item {
    padding: 10px 10px 10px 10px;
}
/* Server Folder Plugin */
.guildsWrapper-5TJh6A.foldercontent.foldercontentclosed {
    margin-right: -30px;
}

/* Detailed Server Tooltip */
.tooltip.tooltip-right {
    margin-left: 18px;
}
.dst-tooltip-icon {
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 105px;
    margin-top: 5px;
    flex: 1;
}
.dst-tooltip {
    width: 100%;
    max-width: 725px;
    text-align: left;
    background-color: #7289da;
    color: white;
}
.dst-tooltip-label {
    color: white;
    margin-top: 14px;
    font-size: 13px;
    margin-left: 220px;
    top: 0px;
}
.dst-tooltip-icon {
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 105px;
    margin-top: 5px;
    flex: 1;
    margin-bottom: -180px;
}
.dst-tooltip:after {
    border-right-color: rgba(114, 137, 218, 0);
    top: 6.5% !important;
}
/* Members Count */
.theme-dark #memberCount {
    color: hsla(0, 0%, 100%, 0.4);
    background: rgba(47, 49, 54, 0) !important;
}
#memberCount {
    position: absolute;
    font-size: 12px;
    letter-spacing: 0.08em;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    width: 100%;
    text-align: left !important;
    padding: 0.9vh 0;
    z-index: 5;
    margin-left: 15px !important;
}
/* VIP */
.VIP:active {
    transform: scale(1.1) !important;
}
/* Channel History */
.channelHistoryButtons {
    color: #999;
    font-weight: bold;
    position: absolute;
    left: 71px;
    top: unset !important;
    bottom: 5px !important;
    left: 299px !important;
}
/* Charater Count */
#charcounter.normal {
    right: 0;
    bottom: -9px !important;
}
#charcounter {
    display: block;
    position: absolute;
    opacity: .5;
    z-index: 1000;
    pointer-events: none;
    font-size: 10px !important;
}
/* Friends Counter */
.theme-dark #friends .tab-bar .tab-bar-item .badge {
    background-color: transparent !important;
    color: grey !important;
    height: 10px !important;
    margin-top: -10px;
    font-size: 15px !important;
}
/* Display Servers as Channels */
.guilds-wrapper.DSAC-styled .guild-separator ~ .guild .guilds-error {
    border: none !important;
    background-color: transparent !important;
    margin-left: -5px;
    line-height: 32px;
}
.guilds-wrapper.DSAC-styled .guild-separator ~ .guild:not(.selected):hover {
    background-color: transparent !important;
    border: none;
}
.guilds-wrapper.DSAC-styled .guild-separator ~ .guild:not(.selected) {
    background-color: transparent !important;
    border: none;
}
.guilds-wrapper.DSAC-styled .guild-separator ~ .guild .guild-inner {
    background-color: transparent !important;
}
/* Logger */
button#dl-log-button {
    border-radius: 50px;
    margin-left: -7px;
    background-color: transparent;
    color: white;
}
.scrollerWrap-2uBjct.content-1Cut5s.scrollerThemed-19vinI.themeGhostHairline-2H8SiW.da-scrollerWrap.da-content.da-scrollerThemed.da-themeGhostHairline {
    color: white;
    background-color: darkslategray;
}
/* Share Button */
.sb-menu-backdrop.da-sbMenuBackdrop {
    background-image: var(--backgroundimage) !important;
    background-color: black;
}
.sb-menu-scroller-wrapper {
    width: 800px;
    min-height: 800px;
    max-height: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(47, 49, 54, 0.75);
    border-radius: 5px;
    z-index: 10000;
}
.sb-button:hover {
    background-color: rgba(255, 255, 255, 0);
}
.sb-button:active {
    background-color: rgba(255, 255, 255, 0) !important;
}
.sb-button {
    background-color: rgba(255, 255, 255, 0) !important;
}
/* ===================================================== */
/*   END OF PLUGINS */



textarea.textArea-2Spzkt.da-textArea.textAreaForm-18s4EO.textArea-2Spzkt.da-textAreaForm.da-textArea.scrollbarGhostHairline-1mSOM1.scrollbar-3dvm_9.da-scrollbarGhostHairline.da-scrollbar {
    margin-left: 115px;
}
