/* Korbs#0001 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="273169968202252289"] + .statusProfile-3ynqtt {
    background-image: url("https://get.wallhere.com/photo/illustration-minimalism-text-pattern-orange-Himouto-Umaru-chan-Doma-Umaru-color-hand-screenshot-font-83169.png");
    background-position: 0 0px;
		filter: brightness(0.8);
}
/* Winter (Morgana Chase)#0001 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="161692463365357568"] + .statusProfile-3ynqtt {
    background-image: url("https://i.imgur.com/LHhRIG2.png");
		filter: blur(var(--NSFWbg)) !important;
}
/* Tropical#8908 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="254362351170617345"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/543140696807178266/Tropical.png");
}
/* FroztySeven#9632 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="155407912481718272"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/501144124880322570/536372585487794177/WIN_20190119_23_12_42_Pro.jpg");
}
/* aaron#5526 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="282340088929845248"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/546107586852945940/howls.gif");
}
/* AKDK#4324 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="282930004734640130"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/546109187650879508/XjKfgHt.jpg");
}
/* .intrnl#6380 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="443765978132643850"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/546205630361239563/Surface_Book_-_Rainbow.jpg");
}
/* Naori#0001 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="126053182748098567"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/546690784481640448/1537293941448.png");
}
/* Euros#2239 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="394972798147231754"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/548923807692488714/Golden_Gate_Bridge__Hex_Fade_Wallpaper_Engine.png");
}
/* A user#9868 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="264062457448759296"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/549028806187548707/unknown.png");
}
/* Không Lùn#8033 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="448590354724421673"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/549480358786367498/unknown.png");
}
/* ｍｅｒｃｕｒｙ#5708 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="432625086600708111"] + .statusProfile-3ynqtt {
    background-image: url("https://i.imgur.com/uUAEfVhh.jpg");
}
/* JacobL#5806 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="217737686956507146"] + .statusProfile-3ynqtt {
    background-image: url("https://i.gifer.com/G5Z8.gif");
}
/* Vedallion#9999 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="153134984163622912"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/550319984421634058/gods-hourglass_2560x1440.jpg");
    background-size: 111%;
}
/* Xperium#7457 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="205393108223918080"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/550114024520417281/G5Z8.gif");
}
/* RubixRoyal#5886 */
.appMount-3lHmkl .root-SR8cQa .header-QKLPzZ .avatar-3EQepX .image-33JSyf[style*="268735483423490048"] + .statusProfile-3ynqtt {
    background-image: url("https://cdn.discordapp.com/attachments/534880602034274314/550431247021768782/road-fog-nature-trees.jpg");
}
