/* Titlebar Template 5 - Hidden */
.typeWindows-1za-n7 {
    height: 0px;
}
.winButton-iRh8-Z {
    height: 12px;
}
.winButtonMinMax-PBQ2gm.winButton-iRh8-Z.flexCenter-3_1bcw.flex-1O1GKY.justifyCenter-3D2jYp.alignCenter-1dQNNs:hover {
    background-color: var(--accentcolor);
}
