/* Titlebar Template 4 - DiscordClassic */
/* Coded by .intrnl */
/* To best fit with Expose X, tweaked by Korbs */
.titleBar-AC4pGV {
  height: 30px;
  width: calc(30px * 3);
  margin: 0;
  padding: 13px 18px;
  position: absolute;
  top: 0;
  right: -10;
  -webkit-app-region: no-drag; }
  .titleBar-AC4pGV:before {
    content: ' ';
    display: block;
    height: 14px;
    width: 100vw;
    position: absolute;
    top: 4px;
    right: 0;
    z-index: 3000;
    -webkit-app-region: drag; }
  .titleBar-AC4pGV .winButton-iRh8-Z {
    display: block;
    height: 30px;
    width: 30px;
    position: relative;
    top: 0;
    background-color: transparent;
    background-size: 26px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .6;
    filter: var(--i-tbr-btninvert); }
    .titleBar-AC4pGV .winButton-iRh8-Z:hover {
      opacity: .8; }
  .titleBar-AC4pGV div:nth-of-type(2) {
    background-image: var(--i-tbr-closeimg); }
  .titleBar-AC4pGV div:nth-of-type(3) {
    background-image: var(--i-tbr-maximizeimg); }
  .titleBar-AC4pGV div:nth-of-type(4) {
    background-image: var(--i-tbr-minimizeimg); }
  .titleBar-AC4pGV .wordmark-2iDDfm, .titleBar-AC4pGV .winButton-iRh8-Z svg {
    display: none; }

.title-3qD0b- .flex-1xMQg5.horizontal-1ae9ci, .titleCall-_b9o8P .flex-1xMQg5.horizontal-1ae9ci, .headerBar-UHpsPw .flex-1xMQg5.horizontal-1ae9ci {
  margin-right: 98px; }
  .title-3qD0b- .flex-1xMQg5.horizontal-1ae9ci:after, .titleCall-_b9o8P .flex-1xMQg5.horizontal-1ae9ci:after, .headerBar-UHpsPw .flex-1xMQg5.horizontal-1ae9ci:after {
    content: ' ';
    height: 22px;
    width: 1px; }
    .theme-dark .title-3qD0b- .flex-1xMQg5.horizontal-1ae9ci:after, .theme-dark .titleCall-_b9o8P .flex-1xMQg5.horizontal-1ae9ci:after, .theme-dark .headerBar-UHpsPw .flex-1xMQg5.horizontal-1ae9ci:after {
      background-color: rgba(247, 247, 248, 0.1); }
    .theme-light .title-3qD0b- .flex-1xMQg5.horizontal-1ae9ci:after, .theme-light .titleCall-_b9o8P .flex-1xMQg5.horizontal-1ae9ci:after, .theme-light .headerBar-UHpsPw .flex-1xMQg5.horizontal-1ae9ci:after {
      background-color: rgba(114, 118, 126, 0.3); }
